[package]
name = "open-feature"
version = "0.1.1"
edition = "2021"
rust-version = "1.67.1"
description = "The official OpenFeature Rust SDK."
documentation = "https://docs.rs/open-feature"
readme = "README.md"
homepage = "https://openfeature.dev/"
repository = "https://github.com/open-feature/rust-sdk"
license = "Apache-2.0"

[badges]
maintenance = { status = "actively-developed" }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-trait = "0.1.73"
lazy_static = "1.4.0"
time = "0.3.29"
tokio = { version = "1.32.0", features = [ "full" ] }
typed-builder = "0.16.2"

[dev-dependencies]
spec = { path = "spec" }
