[package]
name = "open-feature"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-trait = "0.1.73"
lazy_static = "1.4.0"
time = "0.3.28"
tokio = { version = "1.32.0", features = [ "full" ] }
typed-builder = "0.16.2"

[dev-dependencies]
spec = { path = "spec" }
